<div class="stripe-2" id="about">

  <div class="top-icon">
    <a href="#about" class="smoothScroll">
      <%= image_tag("icon.png", :alt => "") %>
    </a>
  </div>

  <p class ="title">The Approach: <i>Clear</i> and <i>Unified</i>.</p>

  <br>

  <div class="inner">
    <p class="title sub">
      <i class="icon-quote-left" style='color: #FFFFFF;'></i>
      I find it difficult keeping track of all my instructors' office hours and managing my schedule, especially when sessions suddenly change when a professor is busy. 
     <i class="icon-quote-right" style='color: #FFFFFF;'></i>
     <br><i style='color: #FFF; text-align:left;'>- Frustrated Student</i>
    </p>

  </div>
  
  <div class="row-fluid">
    <div class="span1"></div>
    <div class="span3 shift">
      <span class="circle one">A</span>
      <h1>Student</h1>
        <div style='margin-left:50px;'>
          <p class="text">
            <i class="icon-ok-sign" style='color: #0080FF;'></i> 
             Built with student usability in mind.
           </p>
           
          <p class="text">
            <i class="icon-ok-sign" style='color: #0080FF;'></i> 
           Centrally track your instructors' office hours.
         </p>
           
          <p class="text">
            <i class="icon-ok-sign" style='color: #0080FF;'></i> 
            Stay updated with any weekly changes.
          </p>

          <p class="text">
            <i class="icon-ok-sign" style='color: #0080FF;'></i> 
            Access freely on your mobile device.
          </p>

          <p class="text">
            <i class="icon-ok-sign" style='color: #0080FF;'></i> 
            Office hours are held for you. Use them!
          </p>
        </div>
    </div>

    <div class="span4 shift">
      <span class="circle two">B</span>
      <h1>Instructor</h1>
        <div style='margin-left:50px;'>
          <p class="text"> 
            <i class="icon-ok-sign" style='color: #FF8000;'></i> 
            Set default hours, time and location in seconds!
          </p>

          <p class="text"> 
            <i class="icon-ok-sign" style='color: #FF8000;'></i> 
            Effortlessly reschedule hours for the week.
          </p>

          <p class="text"> 
            <i class="icon-ok-sign" style='color: #FF8000;'></i> 
            Increase attendance to sessions.
          </p>

          <p class="text"> 
            <i class="icon-ok-sign" style='color: #FF8000;'></i> 
            Integrated flexibility for all types of classes. 
          </p>
        </div>
    </div>

    <div class="span3 shift">
      <span class="circle three">C</span>
      <h1>Education</h1>
          <div style='margin-left:50px;'>
          <p class="text">
            <i class="icon-ok-sign" style='color: #8E8E48;'></i>  Office hours offer  greater student-instructor interaction.  
          </p>

          <p class="text">
            <i class="icon-ok-sign" style='color: #8E8E48;'></i> Many students do not take advantage of this resource.
          </p>

          <p class="text">
            <i class="icon-ok-sign" style='color: #8E8E48;'></i> Agend helps busy Dukies manage their schedules to attend, when needed. 
          </p>
        </div>
    </div>
    <div class="span1"></div>
  </div>
</div>