<div class="btn-group">
	<a class="btn dropdown-toggle btn-primary btn-xlarge drop btn-block" data-toggle="dropdown" href="#">
	Search for Courses <span class="caret"></span> </a>

	<ul class="dropdown-menu outer" role="menu" aria-labelledby="dropdownMenu">

		<div class="drop-limit">	
			
		<% @allCourses.sort { |a,b| a.course_title_long.downcase <=> b.course_title_long.downcase }.each do |course| %>
			<% if !current_user.instructor %>
				
				<%= form_for(current_user.courses.build(course_id: course.id)) do |f| %>
				<div><%= f.hidden_field :course_id %></div>
				<%= f.submit (course.course_title_long), class: "btn" %>
				
				<% end %>
				
				<li class="divider"></li>
			<% end %>
		<% end %>
		
		</div>

	</ul>
</div>

