<% if !current_user.instructor %>
  <h1 class="welcome">Your Courses</h1>
  <div class="profcontainer-in">
    <div>
      <div class="center-side">
        <%= render 'search_form' %>
      </div>
    </div>
    <br><br>
    <div>
      <h4> Your Courses: </h4>
      <%= render @courses %>
    </div>
  </div>

<% else %>
  <h1 class="welcome">Manage Courses</h1>
  <div class="profcontainer-in">
    <div class="inner table profile hour bottom prof">
      <div class="inner signin">
        <!--%= render 'courses/course_form' %-->
      </div>
    </div>
  </div>
<% end %>
