<% if signed_in? %>
  <li id="fat-menu" class="dropdown">
    


    
    


    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">


     <!--  <%#= link_to "Current Sessions", office_hour_path %>  -->   
     
      <% if !current_user.nil? %>
        <% if !current_user.instructor %>
          <li><%= link_to "Find Instructors", current_user %><li>
          
        <% else %>
          <li><%= link_to "Create Session", current_user %><li>
          
        <% end %>
      <% end %>

      <li class="divider"></li>
      
      <li>
        <%= link_to "Sign out", signout_path, method: "delete" %>
      </li>
    </ul>
  </li>

<% else %>
  <li><%= link_to "Sign in", new_session_path %></li>
<% end %>